:root {
    --primary-color: #fef9f3;
    --secondary-color: #FFFFFF;
    --background-color: #121212;
    --text-color: #371d10;
}
.darkmode {
  --primary-color: #0d101c;
    --secondary-color: #111525;
    --background-color: #121212;
    --text-color: #371d10;
}
body{
    font-family: 'Montserrat', sans-serif;
    background:var(--primary-color);
    margin:0;
    padding:1rem;
    font-weight: 300;
    }

  h1 {
    color: var(--text-color);
  }

  h2{
    margin:.5rem 8px;
    color: var(--text-color);

    }

  .grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:1rem
    }

  .card{
    cursor:pointer;
    border-radius:.5rem;
    overflow:hidden;
    background:var(--secondary-color);
    box-shadow:0 2px 6px rgba(0,0,0,.15);
    transition:transform .2s
    }

  .card:hover{
    transform:scale(1.05)
    }

  .card img{
    width:100%;
    height: 320px;
    object-fit:cover;
    display:block
    }

  .card span{
    display:block;
    text-align:center;
    padding:.5rem;
    font-weight:600;
    color: var(--text-color);
    }

  #result{
    padding:1rem;
    background:var(--secondary-color);
    border-radius:.5rem;
    margin-top:1rem
    }

  .swatch{
    display:inline-block;
    width:40px;
    height:40px;
    border-radius:4px;
    margin:2px;
    border: 1px solid black;
    }

  .avoid{
    filter:grayscale(60%) opacity(.6)
    }
    
  .hidden{display:none}

  .startOver {
      background-image:linear-gradient(75deg, #0081a7, #00afb9);
      border: none;
      width: 100px;
      height: 30px;
      border-radius: 8px;
      color: var(--text-color);
      font-size: 14px;
      cursor: pointer;
      margin-top: 20px;
  }

  .startOver:hover {
    background-image:linear-gradient(75deg, #00afb9, #fed9b7);
  }

  .startOver:active {
    background-image:linear-gradient(75deg, #fed9b7, #f07167);
  }

  .palette {
    background-image:linear-gradient(75deg, #e3bfc3, #dd7a83);
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
  }

  .palette:hover {
    background-image:linear-gradient(75deg, #dd7a83, #bf9dcd);
  }

  .palette:active {
    background-image:linear-gradient(75deg, #bf9dcd, #e1b79f);
  }

  /* Email Box */

  #emailBox {
    width: 500px;
    height: 300px;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 8px;
    background-image:linear-gradient(180deg, #fef5e7, #fff2df, #ffe0b2);
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
  }

  @media (max-width: 768px) {
    #emailBox {
      width: 250px;
      height: auto;
    }
  }

  #emailBox h3 {
    color: var(--text-color);
    font-size: 24px;
  }

  #emailBox #userName {
    margin: 5px;
    background: none;
    border: none;
    width: 150px;
    height: 30px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 5px;
  }
  #emailBox #userEmail {
    margin: 5px;
    background: none;
    border: none;
    width: 150px;
    height: 30px;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 5px;
  }
 
  #emailBox button {
    background-image:linear-gradient(75deg, #4d6530, #c5c0a9);
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    color: var(--text-color);
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
  }

  #emailBox button:hover {
    background-image:linear-gradient(75deg, #c5c0a9, #8f6f56);
  }

  #emailBox button:active {
    background-image:linear-gradient(75deg, #8f6f56, #6e4829);
  }
